


/* Root Selector */
:root{
    --Main-color:#1F2DA3; 
    --font-color-1:#F4F4F5;
    --border-color:#FD7F20;
    --border-color2:#FC2E20;
}

/* universal selector targets all the elements  */
* {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        
 }
         
/* elements selectors targets the body  which includes 3 sections */

body{
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: ‘Bakbak One’; 
    background-color: var(--Main-color);
    
    }


    /* element selector targets the header includes 2 sections H1 for for the header and nav bar on the right */
    header{
    
        padding: 40px;
        background-color:var(--font-color-1);
        display: flex; 
        margin: auto;
        width: 90%;
        margin-top: 70px;
        border-radius: 20px;
        border: var(--border-color2);
        
        
        
    }

    
 #home-button{
    
    
    line-height: 20px;
    float: left;
    color: var(--border-color);
   
   
    }

    /* id selector used ofr navigation bar in header  */
#nav-right{
    
    float: right;
    list-style: none;
    margin-right: 100px;   
    height: 50px;
    
    
  

    
}

body header nav li{
    display: inline;
     margin: 0 0 0 200px;
    line-height: 20px;
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 15px;
    background-color: var(--Main-color);
    color: var(--font-color-1);
    height: 20px;
   
   
    
   
    
}

/* :hover selector target the nav bar in the header */
.mouse:hover{

    
    background-color: var(--border-color);
    /* bold */
}
.mouse:active{
    
    color: var(--border-color);
    background-color: var(--Main-color);
   border-color: var(--border-color2);
}



.mouse:link{
    color: var(--border-color2);

}

h1:hover{
    color:var(--Main-color);
}

/* class selector used targeting the first section of the main*/
.main-image-section{
    border: dotted var(--border-color);
    margin: 100px 70px 100px 70px;
     display:flex; 
    border-radius: 20%;
    padding: 60px;
    
}

.main-image{

    padding: 30px;
    border: solid var(--border-color);
    border-radius: 50%;
    width: 15cm; 
    height: auto;
    background-color: var(--font-color-1);
    border-width: 5px;
    
  
}


   
.name{
    margin: 200px 0 0 100px;
    /* font-family: ; */
   font-size: 3em;
    color: var(--font-color-1);
    float: right;

}




/* second section of main  */
.second-image-section{
    border: solid 5px black;
    margin: 100px 70px 100px 70px;
    display:flex; 
    border-radius: 20%;
    padding: 60px; 
    background-color: var(--font-color-1);
   
    
}

.second-main-image{
    width: 300px;
    margin-top: 15px;
    


    
    
}
    .second-name{
        margin: 50px 0 0 50px;
        /* font-family: ; */
       font-size: 2em;
        color: var(--border-color);
        float: right;
    }





   /* third section of the main */


 .my-portifolio{ 
    color: var(--border-color);
    font-size: 3em;
    text-align: center;
    background-color: var(--font-color-1);
     }

     .portifolio-images{ 
    margin: 100px 0 100px 300px; 
    display:flex; 
     }

  .column {  
    width: 50%;
    display: flex;
}

 .column img {  
    width: 50%;
    height: auto;
}
     


    

    
/* footer oof the page include styling for form and nav bar */



   
    
footer{
    background-color: black;
    display: flex;
    height: 200px;
    width: auto;
    
}


.footer-form{
    color: white;
    margin: 15px 70px 0 70px ;}





.footer-nav{
    list-style: none;
    margin: 70px 0 0 0px;
    
   
    
    
    

    
   

}
.footer-nav-li{
    
    
    display: inline;
     margin: 30px 0 0 200px;
    line-height: 20px;
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 15px;
    background-color: black;
    color: var(--font-color-1);
    height: 20px;
   
    

}


